body {
  margin: 10px !important;
  padding:10px;
  min-height: 97vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border:4px outset dodgerblue;
  
}

h1{
  color: dodgerblue;
  text-align: center;
  margin: 0;
}

h3{
  color:green;
  text-align: center;
}

a {
  color:yellowgreen;
}


li:nth-child(even){
  background-color: pink;
  text-shadow: 2px 2px 2px skyblue;
}

li:nth-child(odd){
  background-color:skyblue;
  text-shadow: 2px 2px 2px pink;
}


